*~
*.py?
ipython/db/
ipython/history
ipython/profile_default/history.sqlite
ipython/profile_default/db
vim/bundle
vim/spell/*.add
vim/spell/*.add.spl
vim/view/
vim/.net*
config/nvim/autoload/plug.vim.old
*.sqlite
config/ipython/profile_default/db/
.DS_Store
*.swp
