# vim:ft=snippets:

priority -55


snippet cdate "US datetime" w
`date`
endsnippet

snippet namemail "name <e-mail>" w
Andre Anjos <andre.dos.anjos@gmail.com>
endsnippet


snippet inamemail "Idiap's name <e-mail>" w
Andre Anjos <andre.anjos@idiap.ch>
endsnippet


snippet utf8 "VIM's utf8 line" w
vim: set fileencoding=utf-8 :
endsnippet
