# vim:ft=snippets:

priority 0


snippet "cdate" "current date" r
`date`
endsnippet


snippet "name" "name <e-mail>" r
Andre Anjos <andre.dos.anjos@gmail.com>
endsnippet


snippet "iname" "Idiap's name <e-mail>" r
Andre Anjos <andre.anjos@idiap.ch>
endsnippet


snippet "utf8" "VIM's utf8 line" r
vim: set fileencoding=utf-8 :
endsnippet
