# vim:ft=snippets:

priority -40


snippet "%%" "header" br
%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
% vim: set fileencoding=utf-8 :      %
% Andre Anjos <andre.anjos@idiap.ch> %
% `printf "%-34s" "$(date)"` %
%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%


endsnippet


snippet "graph" "\includegraphics" br
\includegraphics[width=${1}\linewidth]{${2:name}}
endsnippet
